<%- include('../../layout/head', {urlPrefix: "../"}) %>

<body>
  <%- include('../../layout/header') %>
  <section id="books">
    <ul>
      <img src= <%= image %> />
      <li id="title"><%= title %></li>
      <li id="author">by <%= author %></li>
      <li id="description"><%= description %></li>
    </ul>
    <div class="buttons">
      <form action="/edit/<%=id%>" method = "GET">
        <button>Update book</button>
      </form>
      <form action="/books/<%=id%>" method = "POST">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete book</button>
      </form>
    </div>
  </section>
</body>
</html>