<%- include('../../layout/head', {urlPrefix: "../"}) %>

<body>
  <%- include('../../layout/header') %>
  
  <form action="/edit/<%=id%>" method="POST" id="edit">
    <input type="hidden" name="_method" value="PUT">
  
      <fieldset>
        <legend>Edit Book</legend>
          <!-- Populated Title -->
          <div class="inputForms">
            <span>Title</span>
            <input type="text" name="editTitle" value="<%= title %>">
          </div>

          <!-- Populated Author -->
          <div class="inputForms">
            <span>Author</span>
            <input type="text" name="editAuthor" value="<%= author %>">
          </div>

          <!-- Populated ISBN -->
          <div class="inputForms">
            <span>ISBN</span>
            <input type="text" name="editIsbn" value="<%= isbn %>">
          </div>

          <!-- Populated Image -->
          <div class="inputForms">
            <span>Image</span>
            <input type="text" name="editImage" value="<%= image %>">
          </div>

          <div class="inputForms">
            <span>Description</span>
            <textarea rows="4" cols="50" name="editDescription" form="edit">
                "<%= description %>"
            </textarea>
          </div>
        <button>Update</button>
      </fieldset>
  </form>
</body>
</html>
