<%- include('../../layout/head') %>
<body>
  <%- include('../../layout/header') %>
  <h1>Search Results</h1>
  <section id="books">
    <ul>
      <% for(var i = 0; i < data.length; i++) { %>
        <img src= <%= data[i].image %> />
        <li id="title"><%= data[i].title %></li>
        <li id="author">by <%= data[i].author %></li>
        <li id="description"><%= data[i].description %></li>
        <p id= "clickMe">Select This Book</p>
        <form action ="/books/save" method="post">
          <input type="hidden" value= "<%= data[i].title%>" name="title">
          <input type="hidden" value= "<%= data[i].author%>" name="author">
          <input type="hidden" value= "<%= data[i].description%>" name="description">
          <input type="hidden" value= "<%= data[i].image%>" name="image">
          <input type="hidden" value= "<%= data[i].isbn%>" name="isbn">
          <input type="text" name="category" required> category
          
          <button>Save</button>
        </form>
      <% } %>
    </ul>
  </section>
  <script src="../../../public/js/app.js" ></script>
</body>
</html>