<%- include('../layout/head', {urlPrefix: ""}) %>
<body>
    <%- include('../layout/header') %>
    
    <h1>Search for Your Favorite Books</h1> 
    
    <!-- FORM -->
    <form action="searches" method="POST">
        <fieldset>
            <legend>Search by Title or Author</legend>

            <!-- TITLE -->
            <label for="search">
                <span>Title</span>
                <input type="radio" name="search" value="title">
            </label>

            <!-- AUTHOR -->
            <label for="search">
                <span>Author</span>
                <input type="radio" name="search" value="author">
            </label>

            <!-- SEARCH BOX -->
            <label for="search">
                <input type="text" name="search" placeholder="insert book name or author">
            </label>
        </fieldset>
    </form>
    <section id="books">
        <p>There are currently <%=stuffFromDB.length%> books in your book collection.</p>
        <ul>
            <% for(var i = 0; i < stuffFromDB.length; i++) { %>
            <a href="/books/<%= stuffFromDB[i].id %>">
                <img src= <%= stuffFromDB[i].image %> />
                <li id="title"><%= stuffFromDB[i].title %></li>
                <li id="author">by <%= stuffFromDB[i].author %></li>
                <li id="description"><%= stuffFromDB[i].description %></li>
            </a>
                <form action="/books/<%= stuffFromDB[i].id %>" method = "POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>Delete Me</button>
                </form>
            <% } %>
        </ul>
    </section>
</body>
</html>